body{
	width:100%;
	margin: a auto;
	background:url(image/bg.png);
}
.layout{
	width: 1400px;
	height: 800px;
	margin: 0 auto;
}
.container{
	width: 100%;
	height: auto;
}
#header{
	height: 100px;
	
}
#header p{
	padding-left: 32%;
	padding-top: 0;
	margin-top: -30px;
	font-size: 10px;
}
.img_1{
	padding-left: 20%;
	padding-top: 1.5%;
	margin:auto;
}
.img_2{
	float: right;
	padding-right: 30%;
	margin-top: -40px;
}
.bnr{
	width:1400px;
	height: 686px;
	
	position: absolute;
}
.nav{
	width: 1400px;
	height: 62px;
	margin-top: -690px;
	
	
}
.nav ul{
	list-style-type: none;
	padding-left: 12%;
	margin-top: -50px;
	
}
.nav ul li{
	display:inline;
	padding:0;
	margin:0;
}
.nav ul li a{
	display:inline;
	}
.nav ul li a:hover{
	color: #F9C;
	}
.img_3{
	padding-left: 7.3%;
}
.section{
	width: 1008px;
	height: 600px;
	margin-top:3%;
	margin-left: 14.5%;
	background:url(image/secbar.png) no-repeat;
}
.text{
	width: 200px;
	height: 70px;
	
}
.text p{
	font-size: 26px;
	color: #0f257b;
	font-weight:bold;
	padding-top: 23px;
	padding-left: 70px;
}
.lap{
	width: 122px;
	height: 105px;
	
	float: right;
	margin-top: -30px;
}
	